body{
    box-sizing: border-box;
}
.bg-white {
    background-color: #ffffff;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
h1, h2{
    text-align: center;
    font-family: 'Homemade Apple', cursive;
    color: white;    
}
h1:hover{
    color: black;
    filter: invert(100%);
}
/*Overlay styling*/
.container-overlay {
    position: relative;
    width: 100%;
  }
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: blue;
  }
  .overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .container-overlay:hover .overlay {
    opacity: .75;
  }
  

body {
    background: red;
    color: black;
}
img{
    width: 100%;
}
.bio-main
{
    border: 2px solid gold;
}
/*Old formatting*/


/*
background: linear-gradient(pink, #F34165);
img.mainimage {
    border: 3px solid gold;
    width: 33%;
    
    display: block;
    margin-left: auto;
    margin-right: auto 
}
img.mainimage:hover{
    filter: url(filters.svg#grayscale);
    filter: gray;
    -webkit-filter: grayscale(1);
    
}
img.album {
    max-height: 200px;
    width: auto;
    border: 3px solid #FF0055;
}
img.album:hover{
    filter: invert(100%);
    transform: rotate(20deg);
}
.albums{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
#morebutton {
    background-color:
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
} 
*/

