body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
}

img.mainimage {
    border: 3px solid gold;
    width: 33%;
    
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.albums{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

img.album {
    height: 300px;
    width: auto;
}