body {
    font-family: Arial, Helvetica, sans-serif;
    
    background: linear-gradient(pink, #F34165);
    color: #628A61;
}
h1 {
    text-align: center;
    font-family: 'Homemade Apple', cursive;
}
h1:hover{
    color: black;
    filter: invert(100%);
}

img.mainimage {
    border: 3px solid gold;
    width: 33%;
    
    display: block;
    margin-left: auto;
    margin-right: auto 
}
img.mainimage:hover{
    filter: url(filters.svg#grayscale);
    filter: gray;
    -webkit-filter: grayscale(1);
    
}
.albums{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

img.album {
    max-height: 200px;
    width: auto;
    border: 3px solid #FF0055;
}
img.album:hover{
    filter: invert(100%);
    transform: rotate(20deg);
}